@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&family=Roboto:ital,wght@0,400;1,100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

body {
  background: #000000;
  overflow: hidden;
}
h2 {
  color: #002765;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 5%;
}
h2 img {
  width: 50px;
  height: 50px;
  margin-left: 10px;
}
.wrapper {
  max-width: 600px;
  margin: 135px auto;
  background: white;
  border-radius: 7px;
  padding: 30px 10px;
}

.task-input {
  height: 52px;
  padding: 0 25px;
  position: relative;
}

.task-input i {
  position: absolute;
  top: 50%;
  transform: translate(17px, -50%);
}

.task-input input {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #999;
  padding: 0 20px 0 53px;
}

.task-input input ::placeholder {
  color: #bfbfbf;
}
.controls,
li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.controls {
  padding: 18px 25px;
  border-bottom: 1px solid #ccc;
}

.filters span {
  cursor: pointer;
  margin: 0 8px;
  font-size: 17px;
}
.filters span:first-child {
  margin-left: 0;
}

.filters span.active {
  color: #3c87ff;
}

.controls .clear-btn {
  outline: none;
  border: none;
  color: white;
  border-radius: 4px;
  padding: 7px 13px;
  background: #3c87ff;
  cursor: pointer;
  padding: 7px 13px;
  font-size: 13px;
}

.task-box {
  margin: 20px 25px;
}

.task-box .task {
  list-style: none;
  font-size: 17px;
  margin-bottom: 18px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ccc;
}
.task-box .task :last-child {
  margin-bottom: 0;
  border-bottom: 0;
  padding-bottom: 0;
}
.task label {
  display: flex;
}

.task label p.checked {
  text-decoration: line-through;
}

.task label input {
  margin-top: 6px;
  margin-right: 12px;
}

.task .settings {
  cursor: pointer;
  position: relative;
}

.settings .task-menu {
  position: absolute;
  padding: 5px 5px;
  border-radius: 5px;
  z-index: 2;
  right: -5px;
  bottom: -65px;
  transform: scale(0);
  transform-origin: top right;
  transition: transform 0.2s ease;
  background: #fff;
  box-shadow: 0 0 6px rgb(0, 0, 0, 0.15);
}

.settings .task-menu.show {
  transform: scale(1);
}

.task-menu li {
  height: 25px;
  font-size: 16px;
  pad: 17px 15px;
  margin-bottom: 2px;
  justify-content: flex-start;
}
.task-menu li:last-child {
  margin-bottom: 0;
}
.task-menu li:hover {
  background: #f5f5f5;
}
.task-menu i {
  padding-right: 8px;
}
